{
    "name": "{{composerVendorName}}/{{composerProjectName}}",
    {{#artifactVersion}}
    "version": "{{artifactVersion}}",
    {{/artifactVersion}}
    "description": "Fingerprint Pro Server API provides a way for validating visitors’ data issued by Fingerprint Pro.",
    "keywords": [
        "swagger",
        "php",
        "sdk",
        "api",
        "browser",
        "detection",
        "fingerprint",
        "identification",
        "fingerprinting",
        "browser-fingerprinting",
        "browser-fingerprint",
        "fraud-detection",
        "fraud",
        "audio-fingerprinting",
        "fingerprintjs",
        "visitor-identification",
        "fingerprintjs-pro"
    ],
    "homepage": "https://www.fingerprint.com",
    "license": "MIT",
    "authors": [
        {
            "name": "{{composerVendorName}}",
            "homepage": "{{gitRepoBaseURL}}/{{gitUserId}}/{{gitRepoId}}"
        }
    ],
    "require": {
        "php": ">=7.1",
        "ext-curl": "*",
        "ext-json": "*",
        "ext-mbstring": "*",
        "guzzlehttp/guzzle": "7.4.5"
    },
    "require-dev": {
        "phpunit/phpunit": "8.5.33",
        "squizlabs/php_codesniffer": "~2.6",
        "friendsofphp/php-cs-fixer": "~2.19"
    },
    "autoload": {
        "psr-4": { "{{escapedInvokerPackage}}\\" : "{{srcBasePath}}/src" }
    },
    "autoload-dev": {
        "psr-4": { "{{escapedInvokerPackage}}\\" : "{{testBasePath}}/" }
    }
}