# {{#models}}{{#model}}{{classname}} {{#isEnum}}Enum{{/isEnum}}{{^isEnum}}Class{{/isEnum}}

{{#unescapedDescription}}
{{{.}}}

{{/unescapedDescription}}
{{#isEnum}}
## Values

| Name | Value | Description |
| --- | --- | --- |{{#allowableValues}}{{#enumVars}}
{{{name}}} | {{{value}}} | {{{enumDescription}}} |{{/enumVars}}{{/allowableValues}}
{{/isEnum}}
{{^isEnum}}
{{^emptyVars}}
## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
{{#vars}}**{{name}}** | {{#isPrimitiveType}}**{{{dataType}}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{{dataType}}}**]({{complexType}}.md){{/isPrimitiveType}} | {{description}} |{{^required}} [optional]{{/required}}{{#isReadOnly}} [readonly]{{/isReadOnly}}{{#defaultValue}} [default to {{{.}}}]{{/defaultValue}}
{{/vars}}
{{/emptyVars}}
{{/isEnum}}

[[Back to Model list]](../../README.md#documentation-for-models) [[Back to API list]](../../README.md#endpoints) [[Back to README]](../../README.md){{/model}}{{/models}}