const API_SECRET = "Your Fingerprint Secret API Key"; // Fingerprint Secret API Key

// Create new Configuration instance with API Secret and the Region
$config = new Configuration(API_SECRET, Configuration::REGION_EUROPE);