version: '3'
services:
  composer:
    image: composer:1.9.3
    environment:
      - COMPOSER_CACHE_DIR=/app/.cache/composer
    volumes:
      - ./sdk:/app
  php:
    image: php:7.2-cli
    volumes:
      - ./sdk:/app
    working_dir: /app
  phpunit:
    image: php:7.2-cli
    volumes:
      - ./:/app
    working_dir: /app
    entrypoint: sdk/vendor/bin/phpunit
    env_file:
      - .env