<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="FingerprintAPI Test">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <coverage>
        <report>
            <xml outputDirectory="cov/xml" />
            <clover outputFile="cov/xml/clover.xml" />
            <html outputDirectory="cov/html" />
        </report>
    </coverage>
</phpunit>