openapi: 3.0.3
info:
  title: Fingerprint Pro Server API
  description: >
    Fingerprint Pro Server API allows you to get information about visitors and
    about individual events in a server environment. It can be used for data
    exports, decision-making, and data analysis scenarios.

    Server API is intended for server-side usage, it's not intended to be used
    from the client side, whether it's a browser or a mobile device.
  version: '3'
  contact:
    name: Fingerprint Support
    email: support@fingerprint.com
tags:
  - name: Fingerprint
    description: >-
      Using the Server API you can retrieve information about individual
      analysis events or event history of individual visitors.
    externalDocs:
      description: API documentation
      url: https://dev.fingerprint.com/reference/pro-server-api
servers:
  - url: https://api.fpjs.io
    description: Global
  - url: https://eu.api.fpjs.io
    description: EU
  - url: https://ap.api.fpjs.io
    description: Asia (Mumbai)
security:
  - ApiKeyHeader: []
  - ApiKeyQuery: []
x-readme:
  samples-languages:
    - curl
    - node
    - php
    - python
    - csharp
    - java
    - go
paths:
  /events/{request_id}:
    get:
      tags:
        - Fingerprint
      operationId: getEvent
      summary: Get event by requestId
      description: >
        This endpoint allows you to get a detailed analysis of an individual
        request. 

        **Only for Enterprise customers:** Please note that the response
        includes mobile signals (e.g. `rootApps`) even if the request orignated
        from a non-mobile platform.

        It is highly recommended that you **ignore** the mobile signals for such
        requests. 


        Use `requestId` as the URL path parameter. This API method is scoped to
        a request, i.e. all returned information is by `requestId`.
      parameters:
        - name: request_id
          in: path
          description: >-
            The unique
            [identifier](https://dev.fingerprint.com/docs/js-agent#requestid) of
            each analysis request.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
              examples:
                fullResponse:
                  summary: Example response
                  value:
                    products:
                      identification:
                        data:
                          visitorId: Ibk1527CUFmcnjLwIs4A9
                          requestId: 0KSh65EnVoB85JBmloQK
                          incognito: true
                          linkedId: somelinkedId
                          time: '2019-05-21T16:40:13Z'
                          timestamp: 1582299576512
                          url: https://www.example.com/login
                          ip: 61.127.217.15
                          ipLocation:
                            accuracyRadius: 10
                            latitude: 49.982
                            longitude: 36.2566
                            postalCode: '61202'
                            timezone: Europe/Dusseldorf
                            city:
                              name: Dusseldorf
                            continent:
                              code: EU
                              name: Europe
                            country:
                              code: DE
                              name: Germany
                            subdivisions:
                              - isoCode: '63'
                                name: North Rhine-Westphalia
                          browserDetails:
                            browserName: Chrome
                            browserMajorVersion: '74'
                            browserFullVersion: 74.0.3729
                            os: Windows
                            osVersion: '7'
                            device: Other
                            userAgent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) ....
                          confidence:
                            score: 0.97
                          visitorFound: true
                          firstSeenAt:
                            global: '2022-03-16T11:26:45.362Z'
                            subscription: '2022-03-16T11:31:01.101Z'
                          lastSeenAt:
                            global: '2022-03-16T11:28:34.023Z'
                            subscription: null
                      botd:
                        data:
                          bot:
                            result: notDetected
                          url: https://www.example.com/login
                          ip: 61.127.217.15
                          time: '2019-05-21T16:40:13Z'
                      ipInfo:
                        data:
                          v4:
                            address: 94.142.239.124
                            geolocation:
                              accuracyRadius: 20
                              latitude: 50.05
                              longitude: 14.4
                              postalCode: 150 00
                              timezone: Europe/Prague
                              city:
                                name: Prague
                              country:
                                code: CZ
                                name: Czechia
                              continent:
                                code: EU
                                name: Europe
                              subdivisions:
                                - isoCode: '10'
                                  name: Hlavni mesto Praha
                            asn:
                              asn: '7922'
                              name: COMCAST-7922
                              network: 73.136.0.0/13
                            dataCenter:
                              result: true
                              name: DediPath
                      incognito:
                        data:
                          result: false
                      rootApps:
                        data:
                          result: false
                      emulator:
                        data:
                          result: false
                      ipBlocklist:
                        data:
                          result: false
                          details:
                            emailSpam: false
                            attackSource: false
                      tor:
                        data:
                          result: false
                      vpn:
                        data:
                          result: false
                          methods:
                            timezoneMismatch: false
                            publicVPN: false
                            auxiliaryMobile: false
                      proxy:
                        data:
                          result: false
                      tampering:
                        data:
                          result: false
                          anomalyScore: 0
                      clonedApp:
                        data:
                          result: false
                      factoryReset:
                        data:
                          time: '1970-01-01T00:00:00Z'
                          timestamp: 0
                      jailbroken:
                        data:
                          result: false
                      frida:
                        data:
                          result: false
                      privacySettings:
                        data:
                          result: false
                      virtualMachine:
                        data:
                          result: false
                      rawDeviceAttributes:
                        data:
                          architecture:
                            value: 127
                          audio:
                            value: 35.73832903057337
                          canvas:
                            value:
                              Winding: true
                              Geometry: 4dce9d6017c3e0c052a77252f29f2b1c
                              Text: dd2474a56ff78c1de3e7a07070ba3b7d
                          colorDepth:
                            value: 30
                          colorGamut:
                            value: srgb
                          contrast:
                            value: 0
                          cookiesEnabled:
                            value: true
                proPlusBotDetectedResponse:
                  summary: Bot detected on Pro Plus plan
                  value:
                    products:
                      identification:
                        data:
                          visitorId: BotDetected000000000
                          requestId: 0KSh65EnVoB85JBmloQK
                          incognito: true
                          linkedId: somelinkedId
                          time: '2019-05-21T16:40:13Z'
                          timestamp: 1582299576512
                          url: https://www.example.com/login
                          ip: 61.127.217.15
                          ipLocation: {}
                          browserDetails:
                            browserName: ''
                            browserMajorVersion: ''
                            browserFullVersion: ''
                            os: ''
                            osVersion: ''
                            device: ''
                            userAgent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) ....
                          confidence:
                            score: 0.5
                            comment: The real score is unknown
                          visitorFound: false
                          firstSeenAt:
                            global: null
                            subscription: null
                          lastSeenAt:
                            global: null
                            subscription: null
                      botd:
                        data:
                          bot:
                            result: bad
                            type: selenium
                          url: https://www.example.com/login
                          ip: 61.127.217.15
                          time: '2019-05-21T16:40:13Z'
                      ipInfo:
                        data:
                          v4:
                            address: 94.142.239.124
                            geolocation:
                              accuracyRadius: 20
                              latitude: 50.05
                              longitude: 14.4
                              postalCode: 150 00
                              timezone: Europe/Prague
                              city:
                                name: Prague
                              country:
                                code: CZ
                                name: Czechia
                              continent:
                                code: EU
                                name: Europe
                              subdivisions:
                                - isoCode: '10'
                                  name: Hlavni mesto Praha
                            asn:
                              asn: '7922'
                              name: COMCAST-7922
                              network: 73.136.0.0/13
                            dataCenter:
                              result: true
                              name: DediPath
                      incognito:
                        data:
                          result: false
                      rootApps:
                        data:
                          result: false
                      emulator:
                        data:
                          result: false
                      ipBlocklist:
                        data:
                          result: false
                          details:
                            emailSpam: false
                            attackSource: false
                      tor:
                        data:
                          result: false
                      vpn:
                        data:
                          result: false
                          methods:
                            timezoneMismatch: false
                            publicVPN: false
                      proxy:
                        data:
                          result: false
                      tampering:
                        data:
                          result: false
                          anomalyScore: 0
                allErrorsResponse:
                  summary: All failed signals
                  value:
                    products:
                      identification:
                        error:
                          code: Failed
                          message: failed
                      botd:
                        error:
                          code: Failed
                          message: internal server error
                      ipInfo:
                        error:
                          code: Failed
                          message: internal server error
                      incognito:
                        error:
                          code: Failed
                          message: internal server error
                      rootApps:
                        error:
                          code: Failed
                          message: internal server error
                      clonedApp:
                        error:
                          code: Failed
                          message: internal server error
                      factoryReset:
                        error:
                          code: Failed
                          message: internal server error
                      jailbroken:
                        error:
                          code: Failed
                          message: internal server error
                      frida:
                        error:
                          code: Failed
                          message: internal server error
                      emulator:
                        error:
                          code: Failed
                          message: internal server error
                      ipBlocklist:
                        error:
                          code: Failed
                          message: internal server error
                      tor:
                        error:
                          code: Failed
                          message: internal server error
                      vpn:
                        error:
                          code: Failed
                          message: internal server error
                      proxy:
                        error:
                          code: Failed
                          message: internal server error
                      privacySettings:
                        error:
                          code: Failed
                          message: internal server error
                      virtualMachine:
                        error:
                          code: Failed
                          message: internal server error
                      tampering:
                        error:
                          code: Failed
                          message: internal server error
                      rawDeviceAttributes:
                        data:
                          audio:
                            error:
                              name: Error
                              message: internal server error
                          canvas:
                            error:
                              name: Error
                              message: internal server error
                withBotdError:
                  summary: BotD error
                  value:
                    products:
                      identification:
                        data:
                          visitorId: Ibk1527CUFmcnjLwIs4A9
                          requestId: 0KSh65EnVoB85JBmloQK
                          incognito: true
                          linkedId: somelinkedId
                          time: '2019-05-21T16:40:13Z'
                          timestamp: 1582299576512
                          url: https://www.example.com/login
                          ip: 61.127.217.15
                          ipLocation:
                            accuracyRadius: 10
                            latitude: 49.982
                            longitude: 36.2566
                            postalCode: '61202'
                            timezone: Europe/Dusseldorf
                            city:
                              name: Dusseldorf
                            continent:
                              code: EU
                              name: Europe
                            country:
                              code: DE
                              name: Germany
                            subdivisions:
                              - isoCode: '63'
                                name: North Rhine-Westphalia
                          browserDetails:
                            browserName: Chrome
                            browserMajorVersion: '74'
                            browserFullVersion: 74.0.3729
                            os: Windows
                            osVersion: '7'
                            device: Other
                            userAgent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) ....
                          confidence:
                            score: 0.97
                          visitorFound: true
                          firstSeenAt:
                            global: '2022-03-16T11:26:45.362Z'
                            subscription: '2022-03-16T11:31:01.101Z'
                          lastSeenAt:
                            global: '2022-03-16T11:28:34.023Z'
                            subscription: null
                      botd:
                        error:
                          code: Failed
                          message: internal server error
                withBotdTooManyRequestsError:
                  summary: BotD too many requests error
                  value:
                    products:
                      identification:
                        data:
                          visitorId: Ibk1527CUFmcnjLwIs4A9
                          requestId: 0KSh65EnVoB85JBmloQK
                          incognito: true
                          linkedId: somelinkedId
                          time: '2019-05-21T16:40:13Z'
                          timestamp: 1582299576512
                          url: https://www.example.com/login
                          ip: 61.127.217.15
                          ipLocation:
                            accuracyRadius: 10
                            latitude: 49.982
                            longitude: 36.2566
                            postalCode: '61202'
                            timezone: Europe/Dusseldorf
                            city:
                              name: Dusseldorf
                            continent:
                              code: EU
                              name: Europe
                            country:
                              code: DE
                              name: Germany
                            subdivisions:
                              - isoCode: '63'
                                name: North Rhine-Westphalia
                          browserDetails:
                            browserName: Chrome
                            browserMajorVersion: '74'
                            browserFullVersion: 74.0.3729
                            os: Windows
                            osVersion: '7'
                            device: Other
                            userAgent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) ....
                          confidence:
                            score: 0.97
                          visitorFound: true
                          firstSeenAt:
                            global: '2022-03-16T11:26:45.362Z'
                            subscription: '2022-03-16T11:31:01.101Z'
                          lastSeenAt:
                            global: '2022-03-16T11:28:34.023Z'
                            subscription: null
                      botd:
                        error:
                          code: TooManyRequests
                          message: too many requests
                withIdentificationError:
                  summary: Identification error
                  value:
                    products:
                      identification:
                        error:
                          code: Failed
                          message: failed
                      botd:
                        data:
                          url: https://example.com/login
                          bot:
                            result: notDetected
                          ip: 61.127.217.15
                          time: '2019-05-21T16:40:13Z'
                withIdentificationTooManyRequestsError:
                  summary: Identification too many requests error
                  value:
                    products:
                      identification:
                        error:
                          code: 429 Too Many Requests
                          message: too many requests
                      botd:
                        data:
                          url: https://example.com/login
                          bot:
                            result: notDetected
                          ip: 61.127.217.15
                          time: '2019-05-21T16:40:13Z'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEvent403Response'
              examples:
                example:
                  summary: Example response
                  value:
                    error:
                      code: TokenRequired
                      message: secret key is required
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEvent404Response'
              examples:
                example:
                  summary: Example response
                  value:
                    error:
                      code: RequestNotFound
                      message: request id is not found
      x-readme:
        code-samples:
          - language: node
            name: Node SDK
            install: npm install @fingerprintjs/fingerprintjs-pro-server-api
            code: |
              import {
                FingerprintJsServerApiClient,
                Region,
              } from '@fingerprintjs/fingerprintjs-pro-server-api'

              const client = new FingerprintJsServerApiClient({
                apiKey: 'SERVER_API_KEY', // Replace with your key
                region: Region.Global, // Replace with your region
              })

              // Get a specific fingerprinting event
              client.getEvent('REQUEST_ID').then((event) => {
                console.log(event)
              })
          - language: php
            name: PHP SDK
            install: composer require fingerprint/fingerprint-pro-server-api-sdk
            code: |
              <?php
              require_once(__DIR__ . '/vendor/autoload.php');
              use Fingerprint\ServerAPI\Api\FingerprintApi;
              use Fingerprint\ServerAPI\Configuration;
              use GuzzleHttp\Client;

              $config = Configuration::getDefaultConfiguration(
                "SERVER_API_KEY", // Replace with your key
                Configuration::REGION_GLOBAL // Replace with your region
              );

              $client = new FingerprintApi(
                new Client(),
                $config
              );

              // Get a specific fingerprinting event
              try {
                $response = $client->getEvent("REQUEST_ID");
                echo "<pre>" . $response->__toString() . "</pre>";
              } catch (Exception $e) {
                echo $e->getMessage(), PHP_EOL;
              }
          - language: python
            name: Python SDK
            install: pip install fingerprint_pro_server_api_sdk
            code: >
              import fingerprint_pro_server_api_sdk

              from fingerprint_pro_server_api_sdk import EventResponse

              from fingerprint_pro_server_api_sdk import Response

              from fingerprint_pro_server_api_sdk.rest import ApiException


              configuration = fingerprint_pro_server_api_sdk.Configuration(
                api_key="SERVER_API_KEY", // Replace with your key
                region="us" // Replace with your region
              )

              api_instance =
              fingerprint_pro_server_api_sdk.FingerprintApi(configuration)


              # Get a specific fingerprinting event

              try:
                  event: EventResponse = api_instance.get_event("REQUEST_ID")
                  print(event)
              except ApiException as e:
                  print("Exception when getting an event: %s\n" % e)
          - language: golang
            name: Go SDK
            install: go get github.com/fingerprintjs/fingerprint-pro-server-api-go-sdk
            code: |
              package main

              import (
                "context"
                "fmt"
                "github.com/antihax/optional"
                "github.com/fingerprintjs/fingerprint-pro-server-api-go-sdk/v3/sdk"
                "log"
              )

              func main() {
                cfg := sdk.NewConfiguration()
                client := sdk.NewAPIClient(cfg)

                auth := context.WithValue(
                  context.Background(),
                  sdk.ContextAPIKey,
                  sdk.APIKey{Key: "SERVER_API_KEY"}, // Replace with your key
                )
                cfg.ChangeRegion(sdk.RegionUS) // Replace with your region

                // Get a specific fingerprinting event
                event, eventHttpRes, eventErr :=
                  client.FingerprintApi.GetEvent(auth, "REQUEST_ID")
                if eventErr != nil {
                  log.Fatal(eventErr)
                }
                fmt.Printf("Event: %s", event)
              }
          - language: java
            name: Java SDK
            code: |
              import com.fingerprint.api.FingerprintApi;
              import com.fingerprint.models.EventResponse;
              import com.fingerprint.models.Response;
              import com.fingerprint.sdk.ApiClient;
              import com.fingerprint.sdk.ApiException;
              import com.fingerprint.sdk.Configuration;
              import com.fingerprint.sdk.Region;

              public class FingerprintApiExample {
                public static void main(String... args) {
                  ApiClient client = Configuration.getDefaultApiClient(
                    "SERVER_API_KEY", // Replace with your key
                    Region.GLOBAL // Replace with your region
                  );
                  FingerprintApi api = new FingerprintApi(client);

                  // Get a specific fingerprinting event
                  try {
                    EventResponse response = api.getEvent("REQUEST_ID");
                    System.out.println(response.getProducts().toString());
                  } catch (ApiException e) {
                    System.err.println(e.getMessage());
                  }
                }
              }
          - language: csharp
            name: C# SDK
            install: dotnet add package FingerprintPro.ServerSdk
            code: >
              using FingerprintPro.ServerSdk.Api;

              using FingerprintPro.ServerSdk.Client;


              var configuration = new Configuration("SERVER_API_KEY"); //
              Replace with your key

              configuration.Region = Region.Us; // Replace with your region


              var api = new FingerprintApi(
                  configuration
              );


              // Get a specific fingerprinting event

              var events = api.GetEvent("REQUEST_ID");

              Console.WriteLine(events);
  /visitors/{visitor_id}:
    get:
      tags:
        - Fingerprint
      operationId: getVisits
      summary: Get visits by visitorId
      description: >
        This endpoint allows you to get a history of visits for a specific
        `visitorId`. Use the `visitorId` as a URL path parameter.

        Only information from the _Identification_ product is returned.


        #### Headers


        * `Retry-After` — Present in case of `429 Too many requests`. Indicates
        how long you should wait before making a follow-up request. The value is
        non-negative decimal integer indicating the seconds to delay after the
        response is received.
      parameters:
        - name: visitor_id
          description: Unique identifier of the visitor issued by Fingerprint Pro.
          in: path
          required: true
          schema:
            type: string
          example: uYIm7Ksp5rf00SllPhFp
        - name: request_id
          description: >
            Filter visits by `requestId`. 


            Every identification request has a unique identifier associated with
            it called `requestId`. This identifier is returned to the client in
            the identification
            [result](https://dev.fingerprint.com/docs/js-agent#requestid). When
            you filter visits by `requestId`, only one visit will be returned.
          in: query
          schema:
            type: string
        - name: linked_id
          description: >
            Filter visits by your custom identifier. 


            You can use
            [`linkedId`](https://dev.fingerprint.com/docs/js-agent#linkedid) to
            associate identification requests with your own identifier, for
            example: session ID, purchase ID, or transaction ID. You can then
            use this `linked_id` parameter to retrieve all events associated
            with your custom identifier.
          in: query
          schema:
            type: string
          required: false
        - name: limit
          description: >
            Limit scanned results. 


            For performance reasons, the API first scans some number of events
            before filtering them. Use `limit` to specify how many events are
            scanned before they are filtered by `requestId` or `linkedId`.
            Results are always returned sorted by the timestamp (most recent
            first).

            By default, the most recent 100 visits are scanned, the maximum is
            500.
          in: query
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: paginationKey
          description: >
            Use `paginationKey` to get the next page of results. 


            When more results are available (e.g., you requested 200 results
            using `limit` parameter, but a total of 600 results are available),
            the `paginationKey` top-level attribute is added to the response.
            The key corresponds to the `requestId` of the last returned event.
            In the following request, use that value in the `paginationKey`
            parameter to get the next page of results:


            1. First request, returning most recent 200 events: `GET
            api-base-url/visitors/:visitorId?limit=200`

            2. Use `response.paginationKey` to get the next page of results:
            `GET
            api-base-url/visitors/:visitorId?limit=200&paginationKey=1683900801733.Ogvu1j`


            Pagination happens during scanning and before filtering, so you can
            get less visits than the `limit` you specified with more available
            on the next page. When there are no more results available for
            scanning, the `paginationKey` attribute is not returned.
          in: query
          schema:
            type: string
          required: false
        - name: before
          description: >
            ⚠️ Deprecated pagination method, please use `paginationKey` instead.
            Timestamp (in milliseconds since epoch) used to paginate results.
          in: query
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                limit1:
                  summary: Request with limit=1
                  value:
                    visitorId: AcxioeQKffpXF8iGQK3P
                    visits:
                      - requestId: 1655373953086.DDlfmP
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 82.118.30.68
                        ipLocation:
                          accuracyRadius: 1000
                          latitude: 50.0805
                          longitude: 14.467
                          postalCode: 130 00
                          timezone: Europe/Prague
                          city:
                            name: Prague
                          country:
                            code: CZ
                            name: Czechia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '10'
                              name: Hlavni mesto Praha
                        timestamp: 1655373953094
                        time: '2022-06-16T10:05:53Z'
                        url: https://dashboard.fingerprint.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-16T10:03:00.912Z'
                          subscription: '2022-06-16T10:03:00.912Z'
                    lastTimestamp: 1655373953086
                    paginationKey: 1655373953086.DDlfmP
                limit500:
                  summary: Request with limit=500
                  value:
                    visitorId: AcxioeQKffpXF8iGQK3P
                    visits:
                      - requestId: 1655373780901.HhjRFX
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 188.242.36.107
                        ipLocation:
                          accuracyRadius: 5
                          latitude: 59.8983
                          longitude: 30.2618
                          postalCode: '190924'
                          timezone: Europe/Moscow
                          city:
                            name: St Petersburg
                          country:
                            code: RU
                            name: Russia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: SPE
                              name: St.-Petersburg
                        timestamp: 1655373780912
                        time: '2022-06-16T10:03:00Z'
                        url: https://fingerprint.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-16T05:27:30.578Z'
                          subscription: '2022-06-16T05:27:30.578Z'
                      - requestId: 1655357250568.vqejDF
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 82.118.30.62
                        ipLocation:
                          accuracyRadius: 1000
                          latitude: 50.0805
                          longitude: 14.467
                          postalCode: 130 00
                          timezone: Europe/Prague
                          city:
                            name: Prague
                          country:
                            code: CZ
                            name: Czechia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '10'
                              name: Hlavni mesto Praha
                        timestamp: 1655357250578
                        time: '2022-06-16T05:27:30Z'
                        url: https://fingerprint.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-15T15:28:33.479Z'
                          subscription: '2022-06-15T15:28:33.479Z'
                      - requestId: 1655306913474.kFQsQx
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 82.118.30.68
                        ipLocation:
                          accuracyRadius: 1000
                          latitude: 50.0805
                          longitude: 14.467
                          postalCode: 130 00
                          timezone: Europe/Prague
                          city:
                            name: Prague
                          country:
                            code: CZ
                            name: Czechia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '10'
                              name: Hlavni mesto Praha
                        timestamp: 1655306913479
                        time: '2022-06-15T15:28:33Z'
                        url: https://fingerprint.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-15T08:47:34.677Z'
                          subscription: '2022-06-15T08:47:34.677Z'
                      - requestId: 1655282854672.vz4ZlN
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 82.118.30.91
                        ipLocation:
                          accuracyRadius: 1000
                          latitude: 50.0805
                          longitude: 14.467
                          postalCode: 130 00
                          timezone: Europe/Prague
                          city:
                            name: Prague
                          country:
                            code: CZ
                            name: Czechia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '10'
                              name: Hlavni mesto Praha
                        timestamp: 1655282854677
                        time: '2022-06-15T08:47:34Z'
                        url: https://fingerprint.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-14T14:19:42.753Z'
                          subscription: '2022-06-14T14:19:42.753Z'
                      - requestId: 1655216382743.RDRa4h
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 188.242.36.107
                        ipLocation:
                          accuracyRadius: 5
                          latitude: 59.8983
                          longitude: 30.2618
                          postalCode: '190924'
                          timezone: Europe/Moscow
                          city:
                            name: St Petersburg
                          country:
                            code: RU
                            name: Russia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: SPE
                              name: St.-Petersburg
                        timestamp: 1655216382753
                        time: '2022-06-14T14:19:42Z'
                        url: https://fingerprint.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-13T07:53:19.878Z'
                          subscription: '2022-06-13T07:53:19.878Z'
                      - requestId: 1655106799870.C8m8hR
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 45.86.200.137
                        timestamp: 1655106799878
                        time: '2022-06-13T07:53:19Z'
                        url: https://fingerprint.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-07T12:54:35.413Z'
                          subscription: '2022-06-07T12:54:35.413Z'
                      - requestId: 1654606475406.2uXCJx
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.157
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                        timestamp: 1654606475413
                        time: '2022-06-07T12:54:35Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-07T09:37:57.43Z'
                          subscription: '2022-06-07T09:37:57.43Z'
                      - requestId: 1654594677423.pCHmKJ
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 188.242.36.107
                        ipLocation:
                          timezone: Europe/Moscow
                        timestamp: 1654594677430
                        time: '2022-06-07T09:37:57Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-07T09:37:50.109Z'
                          subscription: '2022-06-07T09:37:50.109Z'
                      - requestId: 1654594670097.Lmodmj
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 188.242.36.107
                        ipLocation:
                          accuracyRadius: 5
                          latitude: 59.8983
                          longitude: 30.2618
                          postalCode: '190924'
                          timezone: Europe/Moscow
                          city:
                            name: St Petersburg
                          country:
                            code: RU
                            name: Russia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: SPE
                              name: St.-Petersburg
                        timestamp: 1654594670109
                        time: '2022-06-07T09:37:50Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-07T08:31:31.9Z'
                          subscription: '2022-06-07T08:31:31.9Z'
                      - requestId: 1654590691894.aCYqYE
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 188.242.36.107
                        ipLocation:
                          accuracyRadius: 5
                          latitude: 59.8983
                          longitude: 30.2618
                          postalCode: '190924'
                          timezone: Europe/Moscow
                          city:
                            name: St Petersburg
                          country:
                            code: RU
                            name: Russia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: SPE
                              name: St.-Petersburg
                        timestamp: 1654590691900
                        time: '2022-06-07T08:31:31Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-06T09:05:25.954Z'
                          subscription: '2022-06-06T09:05:25.954Z'
                      - requestId: 1654506325946.ijIwzu
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1654506325954
                        time: '2022-06-06T09:05:25Z'
                        url: https://fingerprintcom.netlify.app/blog/name-change/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-02T16:58:53.635Z'
                          subscription: '2022-06-02T16:58:53.635Z'
                      - requestId: 1654189133629.0V1gtF
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1654189133635
                        time: '2022-06-02T16:58:53Z'
                        url: https://fingerprintcom.netlify.app/blog/name-change/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-02T16:58:51.483Z'
                          subscription: '2022-06-02T16:58:51.483Z'
                      - requestId: 1654189131472.r49Bbh
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1654189131483
                        time: '2022-06-02T16:58:51Z'
                        url: https://fingerprintcom.netlify.app/
                        tag: {}
                        confidence:
                          score: 0.95
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-27T14:52:26.624Z'
                          subscription: '2022-05-27T14:52:26.624Z'
                      - requestId: 1653663146617.o8KpJO
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.64 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1653663146624
                        time: '2022-05-27T14:52:26Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-20T09:50:06.7Z'
                          subscription: '2022-05-20T09:50:06.7Z'
                      - requestId: 1653040206694.Q5Csig
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1653040206700
                        time: '2022-05-20T09:50:06Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-19T16:27:38.029Z'
                          subscription: '2022-05-19T16:27:38.029Z'
                      - requestId: 1652977658020.xbfYhA
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1652977658029
                        time: '2022-05-19T16:27:38Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-17T15:09:32.666Z'
                          subscription: '2022-05-17T15:09:32.666Z'
                      - requestId: 1652800172657.xA22Pd
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1652800172666
                        time: '2022-05-17T15:09:32Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-17T14:18:17.631Z'
                          subscription: '2022-05-17T14:18:17.631Z'
                      - requestId: 1652797097626.faAMJO
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1652797097631
                        time: '2022-05-17T14:18:17Z'
                        url: https://fingerprintjs.com/careers/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-17T10:16:04.809Z'
                          subscription: '2022-05-17T10:16:04.809Z'
                      - requestId: 1652782564800.MWH0GO
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1652782564809
                        time: '2022-05-17T10:16:04Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-16T06:47:01.511Z'
                          subscription: '2022-05-16T06:47:01.511Z'
                      - requestId: 1652683621505.1tOjuc
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 217.150.54.233
                        ipLocation:
                          accuracyRadius: 1000
                          latitude: 59.8983
                          longitude: 30.2618
                          postalCode: '190924'
                          timezone: Europe/Moscow
                          city:
                            name: St Petersburg
                          country:
                            code: RU
                            name: Russia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: SPE
                              name: St.-Petersburg
                        timestamp: 1652683621511
                        time: '2022-05-16T06:47:01Z'
                        url: https://fingerprintjs.com/products/bot-detection/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-16T06:45:49.586Z'
                          subscription: '2022-05-16T06:45:49.586Z'
                      - requestId: 1652683586557.67Faeg
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                          botProbability: 0
                        incognito: true
                        ip: 217.150.54.233
                        ipLocation:
                          accuracyRadius: 1000
                          latitude: 59.8983
                          longitude: 30.2618
                          postalCode: '190924'
                          timezone: Europe/Moscow
                          city:
                            name: St Petersburg
                          country:
                            code: RU
                            name: Russia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: SPE
                              name: St.-Petersburg
                        timestamp: 1652683586562
                        time: '2022-05-16T06:46:26Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 0.94
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-16T06:45:49.586Z'
                          subscription: '2022-05-16T06:45:49.586Z'
                      - requestId: 1652683549513.aVRqEP
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 217.150.54.233
                        ipLocation:
                          accuracyRadius: 1000
                          latitude: 59.8983
                          longitude: 30.2618
                          postalCode: '190924'
                          timezone: Europe/Moscow
                          city:
                            name: St Petersburg
                          country:
                            code: RU
                            name: Russia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: SPE
                              name: St.-Petersburg
                        timestamp: 1652683549586
                        time: '2022-05-16T06:45:49Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-05T10:11:25.96Z'
                          subscription: '2022-05-05T10:11:25.96Z'
                      - requestId: 1651745485951.Oj68me
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '100'
                          browserFullVersion: 100.0.4896
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/100.0.4896.127 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1651745485960
                        time: '2022-05-05T10:11:25Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-05T09:33:40.155Z'
                          subscription: '2022-05-05T09:33:40.155Z'
                      - requestId: 1651743220004.W02rhx
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '100'
                          browserFullVersion: 100.0.4896
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/100.0.4896.127 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1651743220155
                        time: '2022-05-05T09:33:40Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-03T15:26:32.826Z'
                          subscription: '2022-05-03T15:26:32.826Z'
                      - requestId: 1651591592822.Is9u93
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '100'
                          browserFullVersion: 100.0.4896
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/100.0.4896.127 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.157
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1651591592826
                        time: '2022-05-03T15:26:32Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-04-29T13:23:37.049Z'
                          subscription: '2022-04-29T13:23:37.049Z'
                      - requestId: 1651238617044.rMVPGS
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '100'
                          browserFullVersion: 100.0.4896
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/100.0.4896.127 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1651238617049
                        time: '2022-04-29T13:23:37Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-04-29T10:37:53.333Z'
                          subscription: '2022-04-29T10:37:53.333Z'
                      - requestId: 1651228673329.QZI2Cu
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '100'
                          browserFullVersion: 100.0.4896
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/100.0.4896.127 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 188.242.36.107
                        ipLocation:
                          accuracyRadius: 5
                          latitude: 59.8983
                          longitude: 30.2618
                          postalCode: '190924'
                          timezone: Europe/Moscow
                          city:
                            name: St Petersburg
                          country:
                            code: RU
                            name: Russia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: SPE
                              name: St.-Petersburg
                        timestamp: 1651228673333
                        time: '2022-04-29T10:37:53Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-04-28T13:58:06.323Z'
                          subscription: '2022-04-28T13:58:06.323Z'
                      - requestId: 1651154286221.YvuOCP
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '100'
                          browserFullVersion: 100.0.4896
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/100.0.4896.127 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 84.247.59.113
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 50.0971
                          longitude: 8.5952
                          postalCode: '65933'
                          timezone: Europe/Berlin
                          city:
                            name: Frankfurt am Main
                          country:
                            code: DE
                            name: Germany
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: HE
                              name: Hesse
                        timestamp: 1651154286323
                        time: '2022-04-28T13:58:06Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-04-28T12:16:02.564Z'
                          subscription: '2022-04-28T12:16:02.564Z'
                      - requestId: 1651148162556.dySgif
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '100'
                          browserFullVersion: 100.0.4896
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/100.0.4896.127 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 84.247.59.113
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 50.0971
                          longitude: 8.5952
                          postalCode: '65933'
                          timezone: Europe/Berlin
                          city:
                            name: Frankfurt am Main
                          country:
                            code: DE
                            name: Germany
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: HE
                              name: Hesse
                        timestamp: 1651148162564
                        time: '2022-04-28T12:16:02Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-04-28T11:57:13.267Z'
                          subscription: '2022-04-28T11:57:13.267Z'
                      - requestId: 1651147033260.SxmFvL
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '100'
                          browserFullVersion: 100.0.4896
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/100.0.4896.127 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 84.247.59.146
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 50.0971
                          longitude: 8.5952
                          postalCode: '65933'
                          timezone: Europe/Berlin
                          city:
                            name: Frankfurt am Main
                          country:
                            code: DE
                            name: Germany
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: HE
                              name: Hesse
                        timestamp: 1651147033267
                        time: '2022-04-28T11:57:13Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-04-28T11:57:06.24Z'
                          subscription: '2022-04-28T11:57:06.24Z'
                      - requestId: 1651147026139.aAZ8TO
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '100'
                          browserFullVersion: 100.0.4896
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/100.0.4896.127 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 84.247.59.146
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 50.0971
                          longitude: 8.5952
                          postalCode: '65933'
                          timezone: Europe/Berlin
                          city:
                            name: Frankfurt am Main
                          country:
                            code: DE
                            name: Germany
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: HE
                              name: Hesse
                        timestamp: 1651147026240
                        time: '2022-04-28T11:57:06Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-04-26T14:10:31.908Z'
                          subscription: '2022-04-26T14:10:31.908Z'
                      - requestId: 1650982231903.eG0b6v
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '100'
                          browserFullVersion: 100.0.4896
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/100.0.4896.127 Safari/537.36
                          botProbability: 0
                        incognito: false
                        ip: 45.86.200.105
                        ipLocation:
                          accuracyRadius: 1000
                          latitude: 52.3824
                          longitude: 4.8995
                          timezone: Europe/Amsterdam
                          country:
                            code: NL
                            name: Netherlands
                          continent:
                            code: EU
                            name: Europe
                        timestamp: 1650982231908
                        time: '2022-04-26T14:10:31Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-04-26T11:43:37.373Z'
                          subscription: '2022-04-26T11:43:37.373Z'
                      - requestId: 1650973417360.xupFFD
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '100'
[...]
