openapi: 3.0.3
info:
  title: Fingerprint Pro Server API
  description: >
    Fingerprint Pro Server API allows you to get information about visitors and
    about individual events in a server environment. It can be used for data
    exports, decision-making, and data analysis scenarios.

    Server API is intended for server-side usage, it's not intended to be used
    from the client side, whether it's a browser or a mobile device.
  version: '3'
  contact:
    name: Fingerprint Support
    email: support@fingerprint.com
tags:
  - name: Fingerprint
    description: >-
      Using the Server API you can retrieve information about individual
      analysis events or event history of individual visitors.
    externalDocs:
      description: API documentation
      url: https://dev.fingerprint.com/reference/pro-server-api
servers:
  - url: https://api.fpjs.io
    description: Global
  - url: https://eu.api.fpjs.io
    description: EU
  - url: https://ap.api.fpjs.io
    description: Asia (Mumbai)
security:
  - ApiKeyHeader: []
  - ApiKeyQuery: []
paths:
  /events/{request_id}:
    get:
      tags:
        - Fingerprint
      operationId: getEvent
      summary: Get event by requestId
      description: >
        This endpoint allows you to get a detailed analysis of an individual
        request. 

        **Only for Enterprise customers:** Please note that the response
        includes mobile signals (e.g. `rootApps`) even if the request originated
        from a non-mobile platform.

        It is highly recommended that you **ignore** the mobile signals for such
        requests. 


        Use `requestId` as the URL path parameter. This API method is scoped to
        a request, i.e. all returned information is by `requestId`.
      parameters:
        - name: request_id
          in: path
          description: >-
            The unique
            [identifier](https://dev.fingerprint.com/docs/js-agent#requestid) of
            each analysis request.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEvent403Response'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEvent404Response'
  /visitors/{visitor_id}:
    get:
      tags:
        - Fingerprint
      operationId: getVisits
      summary: Get visits by visitorId
      description: >
        This endpoint allows you to get a history of visits for a specific
        `visitorId`. Use the `visitorId` as a URL path parameter.

        Only information from the _Identification_ product is returned.


        #### Headers


        * `Retry-After` — Present in case of `429 Too many requests`. Indicates
        how long you should wait before making a follow-up request. The value is
        non-negative decimal integer indicating the seconds to delay after the
        response is received.
      parameters:
        - name: visitor_id
          description: Unique identifier of the visitor issued by Fingerprint Pro.
          in: path
          required: true
          schema:
            type: string
          example: uYIm7Ksp5rf00SllPhFp
        - name: request_id
          description: >
            Filter visits by `requestId`. 


            Every identification request has a unique identifier associated with
            it called `requestId`. This identifier is returned to the client in
            the identification
            [result](https://dev.fingerprint.com/docs/js-agent#requestid). When
            you filter visits by `requestId`, only one visit will be returned.
          in: query
          schema:
            type: string
        - name: linked_id
          description: >
            Filter visits by your custom identifier. 


            You can use
            [`linkedId`](https://dev.fingerprint.com/docs/js-agent#linkedid) to
            associate identification requests with your own identifier, for
            example: session ID, purchase ID, or transaction ID. You can then
            use this `linked_id` parameter to retrieve all events associated
            with your custom identifier.
          in: query
          schema:
            type: string
          required: false
        - name: limit
          description: >
            Limit scanned results. 


            For performance reasons, the API first scans some number of events
            before filtering them. Use `limit` to specify how many events are
            scanned before they are filtered by `requestId` or `linkedId`.
            Results are always returned sorted by the timestamp (most recent
            first).

            By default, the most recent 100 visits are scanned, the maximum is
            500.
          in: query
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: paginationKey
          description: >
            Use `paginationKey` to get the next page of results. 


            When more results are available (e.g., you requested 200 results
            using `limit` parameter, but a total of 600 results are available),
            the `paginationKey` top-level attribute is added to the response.
            The key corresponds to the `requestId` of the last returned event.
            In the following request, use that value in the `paginationKey`
            parameter to get the next page of results:


            1. First request, returning most recent 200 events: `GET
            api-base-url/visitors/:visitorId?limit=200`

            2. Use `response.paginationKey` to get the next page of results:
            `GET
            api-base-url/visitors/:visitorId?limit=200&paginationKey=1683900801733.Ogvu1j`


            Pagination happens during scanning and before filtering, so you can
            get less visits than the `limit` you specified with more available
            on the next page. When there are no more results available for
            scanning, the `paginationKey` attribute is not returned.
          in: query
          schema:
            type: string
          required: false
        - name: before
          description: >
            ⚠️ Deprecated pagination method, please use `paginationKey` instead.
            Timestamp (in milliseconds since epoch) used to paginate results.
          in: query
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '403':
          description: Forbidden. The API Key is probably missing or incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorVisits403'
        '429':
          description: Too Many Requests
          headers:
            Retry-After:
              description: >-
                Indicates how long you should wait before attempting the next
                request.
              schema:
                type: integer
                format: int32
                minimum: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManyRequestsResponse'
  /webhook:
    trace:
      tags:
        - Fingerprint
      description: >-
        Fake path to describe webhook format. More information about webhooks
        can be found in the
        [documentation](https://dev.fingerprint.com/docs/webhooks)
      responses:
        default:
          description: Dummy for the schema
      callbacks:
        webhook:
          webhook:
            post:
              description: >-
                You can use HTTP basic authentication and set up credentials in
                your [Fingerprint
                account](https://dashboard.fingerprint.com/login)
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebhookVisit'
                    example:
                      value:
                        requestId: Px6VxbRC6WBkA39yeNH3
                        tag:
                          requestType: signup
                          yourCustomId: 45321
                        linkedId: any-string
                        visitorId: 3HNey93AkBW6CRbxV6xP
                        visitorFound: true
                        timestamp: 1554910997788
                        time: '2019-10-12T07:20:50.52Z'
                        incognito: false
                        url: https://banking.example.com/signup
                        clientReferrer: https://google.com?search=banking+services
                        ip: 216.3.128.12
                        ipLocation:
                          accuracyRadius: 1
                          city:
                            name: Bolingbrook
                          continent:
                            code: NA
                            name: North America
                          country:
                            code: US
                            name: United States
                          latitude: 41.12933
                          longitude: -88.9954
                          postalCode: '60547'
                          subdivisions:
                            - isoCode: IL
                              name: Illinois
                          timezone: America/Chicago
                        browserDetails:
                          browserName: Chrome
                          browserFullVersion: 73.0.3683.86
                          browserMajorVersion: '73'
                          os: Mac OS X
                          osVersion: 10.14.3
                          device: Other
                          userAgent: >-
                            (Macintosh; Intel Mac OS X 10_14_3)
                            Chrome/73.0.3683.86
                        confidence:
                          score: 0.97
                        firstSeenAt:
                          global: '2022-03-16T11:26:45.362Z'
                          subscription: '2022-03-16T11:31:01.101Z'
                        lastSeenAt:
                          global: '2022-03-16T11:28:34.023Z'
                          subscription: null
                        bot:
                          result: bad
                          type: selenium
                        userAgent: >-
                          (Macintosh; Intel Mac OS X 10_14_3)
                          Chrome/73.0.3683.86
                        ipInfo:
                          v4:
                            address: 94.142.239.124
                            geolocation:
                              accuracyRadius: 20
                              latitude: 50.05
                              longitude: 14.4
                              postalCode: 150 00
                              timezone: Europe/Prague
                              city:
                                name: Prague
                              country:
                                code: CZ
                                name: Czechia
                              continent:
                                code: EU
                                name: Europe
                              subdivisions:
                                - isoCode: '10'
                                  name: Hlavni mesto Praha
                            asn:
                              asn: '7922'
                              name: COMCAST-7922
                              network: 73.136.0.0/13
                            datacenter:
                              result: true
                              name: DediPath
                        rootApps:
                          result: false
                        emulator:
                          result: false
                        ipBlocklist:
                          result: false
                          details:
                            emailSpam: false
                            attackSource: false
                        tor:
                          result: false
                        vpn:
                          result: false
                          originTimezone: Europe/Berlin
                          originCountry: unknown
                          methods:
                            timezoneMismatch: false
                            publicVPN: false
                            auxiliaryMobile: false
                        proxy:
                          result: false
                        tampering:
                          result: false
                          anomalyScore: 0
                        clonedApp:
                          result: false
                        factoryReset:
                          time: '1970-01-01T00:00:00Z'
                          timestamp: 0
                        jailbroken:
                          result: false
                        frida:
                          result: false
                        privacySettings:
                          result: false
                        virtualMachine:
                          result: false
                        rawDeviceAttributes:
                          architecture:
                            value: 127
                          audio:
                            value: 35.73832903057337
                          canvas:
                            value:
                              Winding: true
                              Geometry: 4dce9d6017c3e0c052a77252f29f2b1c
                              Text: dd2474a56ff78c1de3e7a07070ba3b7d
                          colorDepth:
                            value: 30
                          colorGamut:
                            value: srgb
                          contrast:
                            value: 0
                          cookiesEnabled:
                            value: true
                        highActivity:
                          result: false
                        locationSpoofing:
                          result: true
                        suspectScore:
                          result: 0
              responses:
                default:
                  description: The server doesn't validate the answer.
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Auth-API-Key
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
  schemas:
    Response:
      type: object
      additionalProperties: false
      properties:
        visitorId:
          type: string
        visits:
          type: array
          items:
            title: ResponseVisits
            type: object
            properties:
              requestId:
                description: Unique identifier of the user's identification request.
                type: string
                example: 1654815516083.OX6kx8
              browserDetails:
                $ref: '#/components/schemas/BrowserDetails'
              incognito:
                description: Flag if user used incognito session.
                type: boolean
              ip:
                type: string
                format: ipv4
                example: 8.8.8.8
              ipLocation:
                type: object
                additionalProperties: false
                deprecated: true
                description: >-
                  This field is **deprecated** and will not return a result for
                  **applications created after January 23rd, 2024**. Please use
                  the [IP Geolocation Smart
                  signal](https://dev.fingerprint.com/docs/smart-signals-overview#ip-geolocation)
                  for geolocation information.
                properties:
                  accuracyRadius:
                    description: >-
                      The IP address is likely to be within this radius (in km)
                      of the specified location.
                    type: integer
                    minimum: 0
                  latitude:
                    type: number
                    format: double
                    minimum: -90
                    maximum: 90
                  longitude:
                    type: number
                    format: double
                    minimum: -180
                    maximum: 180
                  postalCode:
                    type: string
                  timezone:
                    type: string
                    format: timezone
                  city:
                    type: object
                    additionalProperties: false
                    title: DeprecatedIPLocationCity
                    properties:
                      name:
                        type: string
                  country:
                    $ref: '#/components/schemas/Location'
                  continent:
                    $ref: '#/components/schemas/Location'
                  subdivisions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subdivision'
                title: DeprecatedIPLocation
              timestamp:
                description: >-
                  Timestamp of the event with millisecond precision in Unix
                  time.
                type: integer
                format: int64
                example: 1654815516086
              time:
                title: Time
                description: Time expressed according to ISO 8601 in UTC format.
                type: string
                format: date-time
                example: '2022-06-09T22:58:36Z'
              url:
                description: Page URL from which the identification request was sent.
                type: string
                example: https://some.website/path?query=params
              tag:
                description: >-
                  A customer-provided value or an object that was sent with
                  identification request.
                type: object
                additionalProperties: true
              linkedId:
                description: >-
                  A customer-provided id that was sent with identification
                  request.
                type: string
                example: someID
              confidence:
                $ref: '#/components/schemas/Confidence'
              visitorFound:
                description: Attribute represents if a visitor had been identified before.
                type: boolean
              firstSeenAt:
                $ref: '#/components/schemas/SeenAt'
              lastSeenAt:
                $ref: '#/components/schemas/SeenAt'
            additionalProperties: false
            required:
              - browserDetails
              - firstSeenAt
              - incognito
              - ip
              - lastSeenAt
              - requestId
              - time
              - timestamp
              - url
              - tag
              - visitorFound
        lastTimestamp:
          description: >
            ⚠️ Deprecated paging attribute, please use `paginationKey` instead.
            Timestamp of the last visit in the current page of results.
          type: integer
          format: int64
          example: 1654815517198
        paginationKey:
          description: >-
            Request ID of the last visit in the current page of results. Use
            this value in the following request as the `paginationKey` parameter
            to get the next page of results.
          type: string
          example: 1654815517198.azN4IZ
      required:
        - visitorId
        - visits
      title: PaginatedResponse
      description: >-
        Fields `lastTimestamp` and `paginationKey` added when `limit` or
        `before` parameter provided and there is more data to show
    ErrorEvent403Response:
      type: object
      additionalProperties: false
      properties:
        error:
          type: object
          additionalProperties: false
          title: ErrorEvent403ResponseError
          properties:
            code:
              type: string
              description: |
                Error code:
                 * `TokenRequired` - `Auth-API-Key` header is missing or empty
                 * `TokenNotFound` - subscription not found for specified secret key
                 * `SubscriptionNotActive` - subscription is not active
                 * `WrongRegion` - server and subscription region differ
              enum:
                - TokenRequired
                - TokenNotFound
                - SubscriptionNotActive
                - WrongRegion
              example: TokenRequired
            message:
              type: string
              example: secret key is required
          required:
            - code
            - message
    ErrorEvent404Response:
      type: object
      additionalProperties: false
      properties:
        error:
          type: object
          additionalProperties: false
          title: ErrorEvent404ResponseError
          properties:
            code:
              type: string
              description: |
                Error code:
                 * `RequestNotFound` - request not found for specified id
              enum:
                - RequestNotFound
              example: RequestNotFound
            message:
              type: string
              example: request id is not found
          required:
            - code
            - message
    ErrorVisits403:
      type: object
      additionalProperties: false
      properties:
        error:
          type: string
          description: Error text.
          example: Forbidden (HTTP 403)
      required:
        - error
    ManyRequestsResponse:
      type: object
      additionalProperties: false
      properties:
        error:
          type: string
          description: Error text.
          example: request throttled
      required:
        - error
    WebhookVisit:
      type: object
      properties:
        visitorId:
          type: string
          example: 3HNey93AkBW6CRbxV6xP
        clientReferrer:
          type: string
          example: https://google.com?search=banking+services
        userAgent:
          type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36
        bot:
          $ref: '#/components/schemas/BotdDetectionResult'
        ipInfo:
          $ref: '#/components/schemas/IpInfoResult'
        incognito:
          description: Flag if user used incognito session.
          type: boolean
        rootApps:
          $ref: '#/components/schemas/RootAppsResult'
        emulator:
          $ref: '#/components/schemas/EmulatorResult'
        clonedApp:
          $ref: '#/components/schemas/ClonedAppResult'
        factoryReset:
          $ref: '#/components/schemas/FactoryResetResult'
        jailbroken:
          $ref: '#/components/schemas/JailbrokenResult'
        frida:
          $ref: '#/components/schemas/FridaResult'
        ipBlocklist:
          $ref: '#/components/schemas/IpBlockListResult'
        tor:
          $ref: '#/components/schemas/TorResult'
        privacySettings:
          $ref: '#/components/schemas/PrivacySettingsResult'
        virtualMachine:
          $ref: '#/components/schemas/VirtualMachineResult'
        vpn:
          $ref: '#/components/schemas/VpnResult'
        proxy:
          $ref: '#/components/schemas/ProxyResult'
        tampering:
          $ref: '#/components/schemas/TamperingResult'
        rawDeviceAttributes:
          $ref: '#/components/schemas/RawDeviceAttributesResult'
        highActivity:
          $ref: '#/components/schemas/HighActivityResult'
        locationSpoofing:
          $ref: '#/components/schemas/LocationSpoofingResult'
        suspectScore:
          $ref: '#/components/schemas/SuspectScoreResult'
        requestId:
          description: Unique identifier of the user's identification request.
          type: string
          example: 1654815516083.OX6kx8
        browserDetails:
          $ref: '#/components/schemas/BrowserDetails'
        ip:
          type: string
          format: ipv4
          example: 8.8.8.8
        ipLocation:
          type: object
          additionalProperties: false
          deprecated: true
          description: >-
            This field is **deprecated** and will not return a result for
            **applications created after January 23rd, 2024**. Please use the
            [IP Geolocation Smart
            signal](https://dev.fingerprint.com/docs/smart-signals-overview#ip-geolocation)
            for geolocation information.
          properties:
            accuracyRadius:
              description: >-
                The IP address is likely to be within this radius (in km) of the
                specified location.
              type: integer
              minimum: 0
            latitude:
              type: number
              format: double
              minimum: -90
              maximum: 90
            longitude:
              type: number
              format: double
              minimum: -180
              maximum: 180
            postalCode:
              type: string
            timezone:
              type: string
              format: timezone
            city:
              type: object
              additionalProperties: false
              title: DeprecatedIPLocationCity
              properties:
                name:
                  type: string
            country:
              $ref: '#/components/schemas/Location'
            continent:
              $ref: '#/components/schemas/Location'
            subdivisions:
              type: array
              items:
                $ref: '#/components/schemas/Subdivision'
          title: DeprecatedIPLocation
        timestamp:
          description: Timestamp of the event with millisecond precision in Unix time.
          type: integer
          format: int64
          example: 1654815516086
        time:
          title: Time
          description: Time expressed according to ISO 8601 in UTC format.
          type: string
          format: date-time
          example: '2022-06-09T22:58:36Z'
        url:
          description: Page URL from which the identification request was sent.
          type: string
          example: https://some.website/path?query=params
        tag:
          description: >-
            A customer-provided value or an object that was sent with
            identification request.
          type: object
          additionalProperties: true
        linkedId:
          description: A customer-provided id that was sent with identification request.
          type: string
          example: someID
        confidence:
          $ref: '#/components/schemas/Confidence'
        visitorFound:
          description: Attribute represents if a visitor had been identified before.
          type: boolean
        firstSeenAt:
          $ref: '#/components/schemas/SeenAt'
        lastSeenAt:
          $ref: '#/components/schemas/SeenAt'
      additionalProperties: false
      required:
        - visitorId
        - browserDetails
        - firstSeenAt
        - incognito
        - ip
        - lastSeenAt
        - requestId
        - time
        - timestamp
        - url
        - tag
        - visitorFound
    Visit:
      type: object
      additionalProperties: false
      properties:
        requestId:
          description: Unique identifier of the user's identification request.
          type: string
          example: 1654815516083.OX6kx8
        browserDetails:
          $ref: '#/components/schemas/BrowserDetails'
        incognito:
          description: Flag if user used incognito session.
          type: boolean
        ip:
          type: string
          format: ipv4
          example: 8.8.8.8
        ipLocation:
          type: object
          additionalProperties: false
          deprecated: true
          description: >-
            This field is **deprecated** and will not return a result for
            **applications created after January 23rd, 2024**. Please use the
            [IP Geolocation Smart
            signal](https://dev.fingerprint.com/docs/smart-signals-overview#ip-geolocation)
            for geolocation information.
          properties:
            accuracyRadius:
              description: >-
                The IP address is likely to be within this radius (in km) of the
                specified location.
              type: integer
              minimum: 0
            latitude:
              type: number
              format: double
              minimum: -90
              maximum: 90
            longitude:
              type: number
              format: double
              minimum: -180
              maximum: 180
            postalCode:
              type: string
            timezone:
              type: string
              format: timezone
            city:
              type: object
              additionalProperties: false
              title: DeprecatedIPLocationCity
              properties:
                name:
                  type: string
            country:
              $ref: '#/components/schemas/Location'
            continent:
              $ref: '#/components/schemas/Location'
            subdivisions:
              type: array
              items:
                $ref: '#/components/schemas/Subdivision'
          title: DeprecatedIPLocation
        timestamp:
          description: Timestamp of the event with millisecond precision in Unix time.
          type: integer
          format: int64
          example: 1654815516086
        time:
          title: Time
          description: Time expressed according to ISO 8601 in UTC format.
          type: string
          format: date-time
          example: '2022-06-09T22:58:36Z'
        url:
          description: Page URL from which the identification request was sent.
          type: string
          example: https://some.website/path?query=params
        tag:
          description: >-
            A customer-provided value or an object that was sent with
            identification request.
          type: object
          additionalProperties: true
        linkedId:
          description: A customer-provided id that was sent with identification request.
          type: string
          example: someID
        confidence:
          $ref: '#/components/schemas/Confidence'
        visitorFound:
          description: Attribute represents if a visitor had been identified before.
          type: boolean
        firstSeenAt:
          $ref: '#/components/schemas/SeenAt'
        lastSeenAt:
          $ref: '#/components/schemas/SeenAt'
      required:
        - browserDetails
        - firstSeenAt
        - incognito
        - ip
        - lastSeenAt
        - requestId
        - time
        - timestamp
        - url
        - tag
        - visitorFound
      title: Visit
    BrowserDetails:
      type: object
      additionalProperties: false
      properties:
        browserName:
          type: string
          example: Chrome
        browserMajorVersion:
          type: string
          example: '101'
        browserFullVersion:
          type: string
          example: 101.0.4951
        os:
          type: string
          example: Windows
        osVersion:
          type: string
          example: '10'
        device:
          type: string
          example: Other
        userAgent:
          type: string
          example: >-
            Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,
            like Gecko) Chrome/101.0.4951.41 Safari/537.36
        botProbability:
          type: integer
      required:
        - browserFullVersion
        - browserMajorVersion
        - browserName
        - device
        - os
        - osVersion
        - userAgent
      title: BrowserDetails
    Confidence:
      type: object
      additionalProperties: false
      properties:
        score:
          description: >-
            The confidence score is a floating-point number between 0 and 1 that
            represents the probability of accurate identification.
          type: number
          format: float
          minimum: 0
          maximum: 1
      required:
        - score
      title: Confidence
    SeenAt:
      type: object
      additionalProperties: false
      properties:
        global:
          type: string
          nullable: true
          format: date-time
          example: '2022-05-05T18:28:54.535Z'
        subscription:
          type: string
          nullable: true
          format: date-time
          example: '2022-06-09T22:58:05.576Z'
      required:
        - global
        - subscription
      title: SeenAt
      example:
        global: '2022-05-05T18:28:54.535Z'
        subscription: null
    ASN:
      type: object
      additionalProperties: false
      properties:
        asn:
          type: string
          example: '7922'
        network:
          type: string
          example: 73.136.0.0/13
        name:
          type: string
          example: COMCAST-7922
      required:
        - asn
        - network
      title: ASN
    DataCenter:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
        name:
          type: string
          example: DediPath
      required:
        - result
      title: DataCenter
    IPLocation:
      type: object
      additionalProperties: false
      properties:
        accuracyRadius:
          description: >-
            The IP address is likely to be within this radius (in km) of the
            specified location.
          type: integer
          minimum: 0
          example: 1000
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
          example: 37.75
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
          example: -97.82
        postalCode:
          type: string
          example: 130 00
        timezone:
          type: string
          format: timezone
          example: America/Chicago
        city:
          type: object
          additionalProperties: false
          title: IPLocationCity
          properties:
            name:
              type: string
              example: Prague
        country:
          $ref: '#/components/schemas/Location'
        continent:
          $ref: '#/components/schemas/Location'
        subdivisions:
          type: array
          items:
            $ref: '#/components/schemas/Subdivision'
      title: IPLocation
    Location:
      type: object
      additionalProperties: false
      properties:
        code:
          type: string
          minLength: 2
          maxLength: 2
          example: US
        name:
          type: string
          example: United States
      required:
        - code
        - name
      title: Location
    Subdivision:
      type: object
      additionalProperties: false
      properties:
        isoCode:
          type: string
          example: '10'
        name:
          type: string
          example: Hlavni mesto Praha
    ProductsResponse:
      type: object
      description: >-
        Contains all information about the request identified by `requestId`,
        depending on the pricing plan (Pro, Pro Plus, Enterprise)
      additionalProperties: false
      properties:
        identification:
          type: object
          additionalProperties: false
          title: ProductsResponseIdentification
          properties:
            data:
              title: ProductsResponseIdentificationData
              type: object
              properties:
                requestId:
                  description: Unique identifier of the user's identification request.
                  type: string
                  example: 1654815516083.OX6kx8
                browserDetails:
                  $ref: '#/components/schemas/BrowserDetails'
                incognito:
                  description: Flag if user used incognito session.
                  type: boolean
                ip:
                  type: string
                  format: ipv4
                  example: 8.8.8.8
                ipLocation:
                  type: object
                  additionalProperties: false
                  deprecated: true
                  description: >-
                    This field is **deprecated** and will not return a result
                    for **applications created after January 23rd, 2024**.
                    Please use the [IP Geolocation Smart
                    signal](https://dev.fingerprint.com/docs/smart-signals-overview#ip-geolocation)
                    for geolocation information.
                  properties:
                    accuracyRadius:
                      description: >-
                        The IP address is likely to be within this radius (in
                        km) of the specified location.
                      type: integer
                      minimum: 0
                    latitude:
                      type: number
                      format: double
                      minimum: -90
                      maximum: 90
                    longitude:
                      type: number
                      format: double
                      minimum: -180
                      maximum: 180
                    postalCode:
                      type: string
                    timezone:
                      type: string
                      format: timezone
                    city:
                      type: object
                      additionalProperties: false
                      title: DeprecatedIPLocationCity
                      properties:
                        name:
                          type: string
                    country:
                      $ref: '#/components/schemas/Location'
                    continent:
                      $ref: '#/components/schemas/Location'
                    subdivisions:
                      type: array
                      items:
                        $ref: '#/components/schemas/Subdivision'
                  title: DeprecatedIPLocation
                timestamp:
                  description: >-
                    Timestamp of the event with millisecond precision in Unix
                    time.
                  type: integer
                  format: int64
                  example: 1654815516086
                time:
                  title: Time
                  description: Time expressed according to ISO 8601 in UTC format.
                  type: string
                  format: date-time
                  example: '2022-06-09T22:58:36Z'
                url:
                  description: Page URL from which the identification request was sent.
                  type: string
                  example: https://some.website/path?query=params
                tag:
                  description: >-
                    A customer-provided value or an object that was sent with
                    identification request.
                  type: object
                  additionalProperties: true
                linkedId:
                  description: >-
                    A customer-provided id that was sent with identification
                    request.
                  type: string
                  example: someID
                confidence:
                  $ref: '#/components/schemas/Confidence'
                visitorFound:
                  description: >-
                    Attribute represents if a visitor had been identified
                    before.
                  type: boolean
                firstSeenAt:
                  $ref: '#/components/schemas/SeenAt'
                lastSeenAt:
                  $ref: '#/components/schemas/SeenAt'
                visitorId:
                  type: string
                  description: >
                    String of 20 characters that uniquely identifies the
                    visitor's browser.
                  example:
                    - Ibk1527CUFmcnjLwIs4A
              additionalProperties: false
              required:
                - browserDetails
                - firstSeenAt
                - incognito
                - ip
                - lastSeenAt
                - requestId
                - time
                - timestamp
                - url
                - tag
                - visitorFound
                - visitorId
            error:
              $ref: '#/components/schemas/IdentificationError'
        botd:
          title: ProductsResponseBotd
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/BotdResult'
            error:
              $ref: '#/components/schemas/ProductError'
        ipInfo:
          title: SignalResponseIpInfo
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/IpInfoResult'
            error:
              $ref: '#/components/schemas/ProductError'
        incognito:
          title: SignalResponseIncognito
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/IncognitoResult'
            error:
              $ref: '#/components/schemas/ProductError'
        rootApps:
          title: SignalResponseRootApps
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/RootAppsResult'
            error:
              $ref: '#/components/schemas/ProductError'
        emulator:
          title: SignalResponseEmulator
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/EmulatorResult'
            error:
              $ref: '#/components/schemas/ProductError'
        clonedApp:
          title: SignalResponseClonedApp
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/ClonedAppResult'
            error:
              $ref: '#/components/schemas/ProductError'
        factoryReset:
          title: SignalResponseFactoryReset
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/FactoryResetResult'
            error:
              $ref: '#/components/schemas/ProductError'
        jailbroken:
          title: SignalResponseJailbroken
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/JailbrokenResult'
            error:
              $ref: '#/components/schemas/ProductError'
        frida:
          title: SignalResponseFrida
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/FridaResult'
            error:
              $ref: '#/components/schemas/ProductError'
        ipBlocklist:
          title: SignalResponseIpBlocklist
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/IpBlockListResult'
            error:
              $ref: '#/components/schemas/ProductError'
        tor:
          title: SignalResponseTor
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/TorResult'
            error:
              $ref: '#/components/schemas/ProductError'
        privacySettings:
          title: SignalResponsePrivacySettings
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/PrivacySettingsResult'
            error:
              $ref: '#/components/schemas/ProductError'
        virtualMachine:
          title: SignalResponseVirtualMachine
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/VirtualMachineResult'
            error:
              $ref: '#/components/schemas/ProductError'
        vpn:
          title: SignalResponseVpn
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/VpnResult'
            error:
              $ref: '#/components/schemas/ProductError'
        proxy:
          title: SignalResponseProxy
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/ProxyResult'
            error:
              $ref: '#/components/schemas/ProductError'
        tampering:
          title: SignalResponseTampering
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/TamperingResult'
            error:
              $ref: '#/components/schemas/ProductError'
        highActivity:
          title: SignalResponseHighActivity
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/HighActivityResult'
            error:
              $ref: '#/components/schemas/ProductError'
        locationSpoofing:
          title: SignalResponseLocationSpoofing
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/LocationSpoofingResult'
            error:
              $ref: '#/components/schemas/ProductError'
        suspectScore:
          title: SignalResponseSuspectScore
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/SuspectScoreResult'
            error:
              $ref: '#/components/schemas/ProductError'
        rawDeviceAttributes:
          title: SignalResponseRawDeviceAttributes
          type: object
          additionalProperties: false
          properties:
            data:
              $ref: '#/components/schemas/RawDeviceAttributesResult'
            error:
              $ref: '#/components/schemas/ProductError'
    EventResponse:
      description: >-
        Contains results from all activated products - Fingerprint Pro, Bot
        Detection, and others.
      type: object
      additionalProperties: false
      properties:
        products:
          $ref: '#/components/schemas/ProductsResponse'
        error:
          $ref: '#/components/schemas/ProductError'
      required:
        - products
    IdentificationError:
      type: object
      additionalProperties: false
      properties:
        code:
          type: string
          description: |
            Error code:
             * `429 Too Many Requests` - the limit on secret API key requests per second has been exceeded
             * `Failed` - internal server error
          enum:
            - 429 Too Many Requests
            - Failed
          example: 429 Too Many Requests
        message:
          type: string
          example: too many requests
      required:
        - code
        - message
    BotdResult:
      type: object
      additionalProperties: false
      description: Contains all the information from Bot Detection product
      properties:
        ip:
          type: string
          format: ipv4
          example: 8.8.8.8
          description: IP address of the requesting browser or bot.
        time:
          title: Time
          description: >-
            Time in UTC when the request from the JS agent was made. We
            recommend to treat requests that are older than 2 minutes as
            malicious. Otherwise, request replay attacks are possible
          type: string
          format: date-time
          example: '2022-06-09T22:58:36Z'
        url:
          description: Page URL from which identification request was sent.
          type: string
          example: https://example.com/login
        userAgent:
          type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36
        requestId:
          type: string
          example: 1681392853693.lRiBBD
        linkedId:
          type: string
          example: Automatic tests bot
        bot:
          $ref: '#/components/schemas/BotdDetectionResult'
      required:
        - bot
        - url
        - ip
        - time
        - userAgent
        - requestId
    BotdDetectionResult:
      type: object
      additionalProperties: false
      description: Stores bot detection result
      properties:
        result:
          type: string
          description: |
            Bot detection result:
             * `notDetected` - the visitor is not a bot
             * `good` - good bot detected, such as Google bot, Baidu Spider, AlexaBot and so on
             * `bad` - bad bot detected, such as Selenium, Puppeteer, Playwright, headless browsers, and so on
          enum:
            - notDetected
            - good
            - bad
          example: bad
        type:
          type: string
          example: selenium
      required:
        - result
    IpInfoResult:
      type: object
      description: >-
        Details about the request IP address. Has separate fields for v4 and v6
        IP address versions.
      additionalProperties: false
      properties:
        v4:
          type: object
          additionalProperties: false
          properties:
            address:
              type: string
              format: ipv4
              example: 94.142.239.124
            geolocation:
              $ref: '#/components/schemas/IPLocation'
            asn:
              $ref: '#/components/schemas/ASN'
            datacenter:
              $ref: '#/components/schemas/DataCenter'
          required:
            - address
            - geolocation
        v6:
          type: object
          additionalProperties: false
          properties:
            address:
              type: string
              format: ipv6
              example: 2001:0db8:85a3:0000:0000:8a2e:0370:7334
            geolocation:
              $ref: '#/components/schemas/IPLocation'
            asn:
              $ref: '#/components/schemas/ASN'
            datacenter:
              $ref: '#/components/schemas/DataCenter'
          required:
            - address
            - geolocation
    IpBlockListResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >
            `true` if request IP address is part of any database that we use to
            search for known malicious actors, `false` otherwise.
          example: false
        details:
          type: object
          additionalProperties: false
          properties:
            emailSpam:
              type: boolean
              description: IP address was part of a known email spam attack (SMTP).
              example: false
            attackSource:
              type: boolean
              description: IP address was part of a known network attack (SSH/HTTPS).
              example: false
          required:
            - emailSpam
            - attackSource
      required:
        - result
        - details
    VpnResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >-
            VPN or other anonymizing service has been used when sending the
            request.
          example: false
        originTimezone:
          type: string
          description: Local timezone which is used in timezoneMismatch method.
          example: Europe/Berlin
        originCountry:
          type: string
          description: >-
            Country of the request (only for Android SDK version >= 2.4.0, ISO
            3166 format or unknown).
          example: unknown
        methods:
          type: object
          additionalProperties: false
          properties:
            timezoneMismatch:
              type: boolean
              description: >-
                User's browser timezone doesn't match the timezone from which
                the request was originally made.
              example: false
            publicVPN:
              type: boolean
              description: >-
                Request IP address is owned and used by a public VPN service
                provider.
              example: false
            auxiliaryMobile:
              type: boolean
              description: >-
                This method applies to mobile devices only. Indicates the result
                of additional methods used to detect a VPN in mobile devices.
              example: false
          required:
            - timezoneMismatch
            - publicVPN
            - auxiliaryMobile
      required:
        - result
        - originTimezone
        - methods
    TamperingResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >-
            Flag indicating whether browser tampering was detected according to
            our internal thresholds.
          example: false
        anomalyScore:
          type: number
          description: >-
            Confidence score (`0.0 - 1.0`) for the tampering detection. Values
            above `0.5` suggest that we're reasonably sure there was a tampering
            attempt. Values below `0.5` are genuine browsers.
          example: 0
          minimum: 0
          maximum: 1
      required:
        - result
        - anomalyScore
    HighActivityResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >-
            Flag indicating whether the request came from a high activity
            visitor.
          example: false
        dailyRequests:
          type: number
          description: Number of requests from the same visitor in the previous day.
          example: 10
          minimum: 1
      required:
        - result
    LocationSpoofingResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >-
            Flag indicating whether the request came from a mobile device with
            location spoofing enabled.
          example: false
      required:
        - result
    SuspectScoreResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: integer
          description: >
            Suspect Score is an easy way to integrate Smart Signals into your
            fraud protection work flow.  It is a weighted representation of all
            Smart Signals present in the payload that helps identify suspicious
            activity. The value range is [0; S] where S is sum of all Smart
            Signals weights.  See more details here:
            https://dev.fingerprint.com/docs/suspect-score
          example: 0
      required:
        - result
    RawDeviceAttributesResult:
      type: object
      description: >
        It includes 35+ raw browser identification attributes to provide
        Fingerprint users with even more information than our standard visitor
        ID provides. This enables Fingerprint users to not have to run our
        open-source product in conjunction with Fingerprint Pro Plus and
        Enterprise to get those additional attributes.

        Warning: The raw signals data can change at any moment as we improve the
        product. We cannot guarantee the internal shape of raw device attributes
        to be stable, so typical semantic versioning rules do not apply here.
        Use this data with caution without assuming a specific structure beyond
        the generic type provided here.
      additionalProperties:
        type: object
        properties:
          error:
            properties:
              name:
                title: error.name
                type: string
              message:
                title: error.message
                type: string
            required:
              - name
              - message
            title: error
            type: object
          value:
            title: value
    FactoryResetResult:
      type: object
      additionalProperties: false
      properties:
        time:
          title: Time
          description: >
            Time in UTC when the most recent factory reset of the Android or iOS
            device was done.  If there is no sign of factory reset or the client
            is not a mobile device, the field will contain the epoch time (1
            January 1970) in UTC.
          type: string
          format: date-time
          example: '2022-06-09T22:58:36Z'
        timestamp:
          description: >-
            Same value as it's in the `time` field but represented in timestamp
            format.
          type: integer
          format: int64
          example: 1654815517198
      required:
        - time
        - timestamp
    ClonedAppResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >
            Android specific cloned application detection. There are 2 values: •
            `true` - Presence of app cloners work detected (e.g. fully cloned
            application found or launch of it inside of a not main working
            profile detected). • `false` - No signs of cloned application
            detected or the client is not Android.
          example: false
      required:
        - result
    EmulatorResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >
            Android specific emulator detection. There are 2 values: • `true` -
            Emulated environment detected (e.g. launch inside of AVD) • `false`
            - No signs of emulated environment detected or the client is not
            Android.
          example: false
      required:
        - result
    RootAppsResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >
            Android specific root management apps detection. There are 2 values:
            • `true` - Root Management Apps detected (e.g. Magisk) • `false` -
            No Root Management Apps detected or the client isn't Android.
          example: false
      required:
        - result
    IncognitoResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >
            `true` if we detected incognito mode used in the browser, `false`
            otherwise.
          example: false
      required:
        - result
    JailbrokenResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >
            iOS specific jailbreak detection. There are 2 values: • `true` -
            Jailbreak detected • `false` - No signs of jailbreak or the client
            is not iOS.
          example: false
      required:
        - result
    FridaResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >
            [Frida](https://frida.re/docs/) detection for Android and iOS
            devices. There are 2 values: • `true` - Frida detected • `false` -
            No signs of Frida or the client is not a mobile device.
          example: false
      required:
        - result
    TorResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >
            `true` if the request IP address is a known tor exit node, `false`
            otherwise.
          example: false
      required:
        - result
    PrivacySettingsResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >
            `true` if the request is from a privacy aware browser (e.g. Tor) or
            from a browser in which fingerprinting is blocked. Otherwise
            `false`.
          example: false
      required:
        - result
    VirtualMachineResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >
            `true` if the request came from a browser running inside a virtual
            machine (e.g. VMWare), `false` otherwise.
          example: false
      required:
        - result
    ProxyResult:
      type: object
      additionalProperties: false
      properties:
        result:
          type: boolean
          description: >
            `true` if the request IP address is used by a public proxy provider,
            `false` otherwise.
          example: false
      required:
        - result
    ProductError:
      type: object
      additionalProperties: false
      properties:
        code:
          type: string
          description: |
            Error code:
             * `TooManyRequests` - the limit on secret API key requests per second has been exceeded
             * `Failed` - internal server error
          enum:
            - TooManyRequests
            - Failed
          example: TooManyRequests
        message:
          type: string
          example: too many requests
      required:
        - code
        - message
