# Webhook

## **isValidWebhookSignature**

> {{invokerPackage}}\Webhook\WebhookVerifier::isValidWebhookSignature(string $header, string $data, string $secret): bool

Verifies the HMAC signature extracted from the "fpjs-event-signature" header of the incoming request. This is a part of the [webhook signing](https://docs.fingerprint.com/docs/webhooks#protecting-your-webhooks) process.

### Required Parameters

| Name       | Type       | Description                                               | Notes |
|------------|------------|-----------------------------------------------------------|-------|
| **header** | **string** | Value of the `fpjs-event-signature` header.                |       |
| **data**   | **string** | Body of the request from which above header was extracted. |       | 
| **secret** | **string** | Your generated secret used to sign the request.           |       | 
